{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Neonumy Photo Album</title>
        <link rel='stylesheet' type="text/css" href="{% static '/css/style.css' %}">
    </head>
    
    <body>
        <div class="navbar">
            <div>
                <a href="{% url 'home' %}">Neonumy Photo Album</a>
            </div>
            <div>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'upload_image' %}">Upload</a>
            </div>
        </div>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>